@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Quicksand", serif;
}

/* Designing Navbar */

.logo{
    display: flex;
    align-items: center;
    gap: 11px;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li{
    list-style: none;
    font-weight: 600;
    font-size: 1.05rem;
}

nav ul li:nth-child(1) a{
    color: orange;
}
nav ul li:nth-child(2) a{
    color: #01ACFD;
}
nav ul li:nth-child(3) a{
    color: #05D4DF;
}
nav ul li:nth-child(4) a{
    color: #5D58EF;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    /* background-color: aquamarine; */
    height: 57px;
}

.logo img{
    width: 50px;
}

.nav-btn button{
    background-color: orange;
    padding: 10px 49px;
    border: none;
    border-radius: 9px;
    color: white;
    font-weight: 600;
    font-size: 1.05rem;
}

.hamburger-icon{
    display: none;
}

main{
    width: 100%;
}

/* Working on page - 1 */



#page-1{
    width: 100%;

    min-height: 50vh;
    
    /* background-color: aquamarine; */

}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.hero-title span:nth-child(1){
   color: orange;
}
/* .hero-title span:nth-child(2){
   color: #01ACFD;
} */

#hero-title-2nd-span{
    color: #01ACFD;
}

.hero-img img{
    width: 100%;
}

/* .hero-img{
    text-align: right;
} */


.hero-title{
    font-size: 3rem;
}


.hero-info{
    width: 55%;

}

.hero-img{
    width: 38%;
}

.hero-description{
    font-weight: 400;
    font-size: 1.05rem;
    margin: 20px 0;
}

.hero-btn button{
    background-color: black;
    padding: 10px 49px;
    border: none;
    border-radius: 9px;
    color: white;
    font-weight: 600;
    font-size: 1.05rem;
}





/* Working on page - 2 */

#page-2{
    width: 100%;
    height: 65vh;
    background-image: url(/assets/bg.png);
    background-position: center;
    background-size: contain;
}

.Curriculum{
    width: 85%;
    margin: 0 auto;
    /* margin-top: 30px; */

}

.curriculum-title{
    text-align: center;
    font-size: 2.5rem;
    margin: 50px 0;
}

.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
}

.curriculum-card{
    /* background-color: aquamarine; */
    text-align: center;
    padding: 45px 20px;
    height: 100%;
    max-width: 326px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(5,212,223,0.2050945378151261) 4%, rgba(255,255,255,1) 37%);
    border: 1px solid #DEF5FF;
    position: relative;
}

.curriculum-card:nth-child(2){
    background: linear-gradient(180deg, rgba(240, 168, 0, 0.244) 4%, rgba(255,255,255,1) 37%);
    border: 1px solid #FFF4DC;
}
.curriculum-card:nth-child(3){
    background: linear-gradient(180deg, rgba(136, 0, 255, 0.247) 4%, rgba(255,255,255,1) 37%);
    border: 1px solid #F2E8FF;
}

.crclm-card-title{
    font-size: 1.3rem;
}
.card-crclm-description{
    font-size: 0.85rem;
    color: #808080;
    line-height: 22px;
    font-weight: 500;
}
.crclm-card-img{
    width: 120px;
}

.crclm-card-btn button{
    border: none;
    background-color: transparent;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 37px;
    cursor: pointer;
}


.curriculum-card:nth-child(1) button{
    color: #64C8FF;
}
.curriculum-card:nth-child(2) button{
    color: orange;
}
.curriculum-card:nth-child(3) button{
    color: #8700FF;
}

/* Work on BTN */

.arrow-btns{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 45px;
}

.arrow-btns .left-arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow-btns .right-arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}












/* Responsiveness with media quirees */

/* For mobile devices */

@media screen and (max-width: 576px) {
    .hamburger-icon{
        display: block;
        cursor: pointer;
    }

    nav ul{
        display: none;
    
    }

    .nav-btn{
        display: none;
    }
    .logo h2{
        display: none;
    }
    header{
        border-bottom: 1px solid orange;

    }

    nav{
        height: 66px;
        width: 93%;
    }

    .hero{
        flex-direction: column-reverse;
        width: 93%;
    }
    .hero-info{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .hero-img{
        width: 95%;
    }

    .hero-btn button{
        padding: 12px 25px;
    }
    .hero-title{
        font-size: 2rem;
    }

    .hero-description{
        font-size: 1rem;
    }

    .arrow-btns{
        display: none;
    }

    .curriculum-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .Curriculum{
        width: 93%;
    }

    .curriculum-card{
        max-width: 345px;
    }
    .curriculum-cards{
        gap: 16px;
    }

    .curriculum-title{
        font-size: 2rem;
    }
}






/* For tab and medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        /* background-color: #5D58EF; */
        width: 93%;
    }

    .hero{
        width: 93%;
    }

    .hero-info{
        width: 60%;
    }

    .hero-title{
        font-size: 2rem;
    }

    .hero-description{
        font-size: 0.85rem;
    }

    .Curriculum{
        width: 93%;
    }

    .arrow-btns{
        display: none;
    }


}



/* Submedium devices */

@media screen and (max-width: 710px){
    nav ul li:nth-child(4){
        display: none;
    }
}
@media screen and (min-width:576px) and (max-width: 800px){
    .curriculum-card{
        padding: 27px 12px;
        gap: 10px;
    }

    .crclm-card-img {
        width: 90px;
    }

    .card-crclm-description{
        line-height: 20px;
    }

    .crclm-card-btn button{
        bottom: 15px;
    }

    .crclm-card-title {
        font-size: 1.1rem;
    }
}